
<footer class="bg-light text-center text-lg-start d-block fixed-bottom p-2">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-dark" href="https://github.com/BillyVector117">GitHub->Billy
            Rodríguez Morales <i class="fab fa-github"></i></a>
    </div>
    <!-- Copyright -->
</footer>